@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  -webkit-print-color-adjust: exact;
}

.page {
  margin: auto;
  padding: 16px 64px 64px;
  overflow: hidden;
  height: 1440px;
  width: 1024px;
}

.landscape {
  transform: rotate(90deg);
  display: flex;
  align-items: center;
  margin: auto;
}

.stressor-timeline {
  width: 1280px;
  height: 1280px;
  /* padding-left: 100px; */
}

.stressor-table {
  width: 1280px;
  height: 1280px;
  padding-left: 100px;
  margin-bottom: 0;
}

@font-face {
  font-family: 'Hatton';
  src: url('./fonts/PPHatton-Regular.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: auto;
}

@media print {
  .break,
  .page {
    page-break-after: always;
  }
}

h1 {
  text-transform: uppercase;
}

h1,
h2,
h3 {
  font-family: 'Hatton', cursive;
  color: #504C4C;
}

p {
  font-family: 'DM Sans', sans-serif;
  line-height: 1.666;
}

.dm-sans {
  font-family: 'DM Sans', sans-serif;
}